<p>Вы запросили изменение эл. почты для вашего аккаунта
  {{source}}
  на
  {{destination}}</p>
<p>Для подтвержения перейдите по ссылке ниже</p>

<a href='{{link}}'>{{link}}</a>

<p>Проигнорируйте письмо если оно попало к вам по ошибке</p>