<p>Привет! Спасибо за регистрацию в нашем сервисе</p>
<p>Подтвердите свою электронную почту перейдя по ссылке ниже</p>

<a href='{{link}}'>{{link}}</a>

<p>Проигнорируйте письмо если оно попало к вам по ошибке</p>